@charset "UTF-8";

@use "layout.module.scss" as layout;

.header {
  display: grid;
  position: sticky;
  top: 0;
  left: 0;

  grid-template-columns: 2fr 7fr 5fr;
  @include layout.respond-to(mobile) {
    // 모바일 이상(데스크톱 전용) 에 적용할 사이즈
    grid-template-columns: 3fr 9fr 3fr;
    padding: 0 50px;
  }

  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: #3f4b56;
  z-index: 3;

  & .left {
    width: 100%;
    height: 100%;

    .navs {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;

      .navBar {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;

        .bars {
          width: 25px;
          height: 20px;
          padding: 2px;

          .bar {
            width: 100%;
            height: 3px;
            margin: 3px 0;
            background-color: black;
          }
        }
      }
    }
  }

  & .center {
  }

  & .right {
  }
}