@charset "UTF-8";

// 반응형 ui를 위한 요소들(하위 영역에서 반응형 동작 요구될 시 layout.module.scss 를 @use 를 통해 가져와 사용)
$breakpoints: (
        mobile: 480px,
        //desktop: 1024px,
);

@mixin respond-to($breakpoint) {
  // $breakpoints 맵에 해당 키값이 있는지 확인
  @if map-has-key($breakpoints, $breakpoint) {
    // 값이 있다면 미디어 쿼리 생성 (모바일 퍼스트 기준 min-width 사용)
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    // 정의되지 않은 이름을 사용했을 때 경고 메시지 출력
    @warn "잘못된 중단점입니다: `#{$breakpoint}`. 사용 가능한 중단점: #{map-keys($breakpoints)}.";
  }
}

// 이하 레이아웃 전용 스타일 목록
.layout {
  position: relative;
  background-color: var(--background-color);
}
.container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
  min-height: calc(100vh - 50px);
  box-sizing: border-box;
}
.content {
  position: relative;
  width: calc(100% - 600px);
  padding: 30px;
  box-sizing: border-box;
  transition: .2s;
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 94%;
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translate(0, -50%);
    background-color: #ddd;
  }
}